<section>
    <section class="imgPrincipal">
      <article class="overlay">
        <h1 class="overlay-titulo">Lagundu gaitzazu mundua aldatzen</h1>
        <p class="overlay-descripcion">Urte askotan itzalean egon diren bizitzak zure laguntzarekin argitu ahal dira. Bizitza berri bat  bilatzen etorritako pertsonek ere, ametsak dituzte. Zure dohaintza horren zati bat izan daiteke, haien bidea argitzen lagunduz. Gurekin bat egin eta bizitza berri baten hastapen bihurtu zaitez. Haiek zure laguntzaren zain daude.</p>
      </article>
    </section>
  </section>

  <article>
    <marquee> Egin zure ekarpena eta salbatu bizitzak itsasoan 💙 Laguntza bakoitzak aldea egiten du! Zure laguntzarekin, bizitzak salbatu ditzakegu 🌊 Donatu orain eta itxaropena eman!</marquee>
  </article>

<section>
  <div class="container py-5">
    <a  routerLink="/erreskateak" class="card mb-4">
      <div class="row g-0 align-items-center">
        <div class="col-md-8 p-4">
          <h3>ERRESKATEAK <i class="bi bi-arrow-right"></i></h3>
          <p>
            Mundua hobetzeko lanean ari gara! Gure erreskate-ekintzak xehetasun osoz ezagutu eta
            nola lagundu dezakezun jakin nahi baduzu, sakatu beheko ikonoan. Bizitzak salbatzea eta
            itxaropen berriak sortzea zure laguntzarekin posible da.
          </p>
        </div>
        <div class="col-md-4 cardArgazkiak">
          <img src="../../../assets/img/erreskateak-img.PNG" alt="Erreskate argazkia" class="img-fluid rounded-end">
        </div>
      </div>
    </a>
      <!-- DONATU -->
      <a  routerLink="/donatu" class="card mb-4">
        <div class="row g-0 align-items-center">
          <div class="col-md-8 p-4">
            <h3>DONATU <i class="bi bi-arrow-right"></i></h3>
            <p>
              Zure laguntza ezinbestekoa da! Dohaintza txikienak ere mundu hobea eraikitzen laguntzen du.
              Gure eguneroko lanak zure babesarekin indartzen dira. Sakatu hemen eta jarri zure
              aletxoa bizitzak aldatzeko eta itsasoetan itxaropena berpizteko.
            </p>
          </div>
          <div class="col-md-4 cardArgazkiak">
            <img src="../../../assets/img/donatu2-img.webp" alt="Donatu argazkia" class="img-fluid rounded-end">
          </div>
        </div>
      </a>

      <!-- GURI BURUZ -->
      <a  routerLink="/guriBuruz" class="card mb-4">
        <div class="row g-0 align-items-center">
          <div class="col-md-8 p-4">
            <h3>GURI BURUZ <i class="bi bi-arrow-right"></i></h3>
            <p>
              Gure historia eta misioa ezagutu! Mediterraneoko krisi humanitarioari aurre egiteko
              sortutako taldea gara. Sakatu hemen gure helburuak, printzipioak eta egiten dugun
              lan sakona ezagutzeko. Gurekin batera, giza eskubideen defentsan parte hartu!
            </p>
          </div>
          <div class="col-md-4 cardArgazkiak">
            <img src="../../../assets/img/guri-buruz-img.webp" alt="Guri buruz argazkia" class="img-fluid rounded-end">
          </div>
        </div>
      </a>

      <!-- KONTAKTUA -->
      <a  routerLink="/kontaktua" class="card mb-4">
        <div class="row g-0 align-items-center">
          <div class="col-md-8 p-4">
            <h3>KONTAKTUA <i class="bi bi-arrow-right"></i></h3>
            <p>
              Zure iritzia oso garrantzitsua da guretzat! Zalantzak, iradokizunak edo laguntzeko
              nahia izanez gero, harremanetan jar zaitez gurekin. Sakatu hemen eta gure taldearekin
              harremanetan jartzeko aukera izan!
            </p>
          </div>
          <div class="col-md-4 cardArgazkiak">
            <img src="../../../assets/img/kontaktua2-img.PNG" alt="Kontaktua argazkia" class="img-fluid rounded-end">
          </div>
        </div>
      </a>
  </div>
</section>

