<section>
    <section class="imgPrincipal">
      <article class="overlay">
        <h1 class="overlay-titulo">Lagundu gaitzazu mundua aldatzen</h1>
        <p class="overlay-descripcion">Urte askotan itzalean egon diren bizitzak zure laguntzarekin argitu ahal dira. Bizitza berri bat  bilatzen etorritako pertsonek ere, ametsak dituzte. Zure dohaintza horren zati bat izan daiteke, haien bidea argitzen lagunduz. Gurekin bat egin eta bizitza berri baten hastapen bihurtu zaitez. Haiek zure laguntzaren zain daude.</p>
      </article>
    </section>
  </section>
