h3 {
  font-family: Marcellus, bold;
  font-size: 50px;
}

.kontaktua {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

.galdetegia {
  display: grid;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 80%;
  padding:20px;
  margin: 20px;
}

.bidaliBot {
  text-align: center;
}

#bidaliBot {
  background-color: #D0021B !important;
  color: white;
  font-size: 30px;
  border-radius: 8px;
  width: 200px;
  min-width: 100px;
  height: 70px;
  opacity: 1;
  filter: none;
  box-shadow: none;
  margin: 20px;
}

.form-label{
  font-size: 25px;
}

input, textarea{
  border: solid 2px #4A90E2;
  height: 50px;
  &:hover{
    box-shadow: 0 0 13px #4A90E2 ;
    border-color: #002F6C;
  }
  &:focus{
    background-color: #fff;
    border-color: #002F6C;
    outline: none;
    box-shadow: 0 0 13px #4A90E2 ;
    scale: 1.1;
  }
}

.parametros{
  padding: 10px;
}

.argazkiaKontaktua{
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#argazkia {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-fluid {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@media (max-width: 800px) {
  .argazkiaKontaktua {
    display: none;
  }

  .kontaktua {
    justify-content: center;
    grid-template-columns: 100%;
  }

  .galdetegia {
    margin-right: 0;
    grid-column-start: 1;
  grid-column-end: 2;
  }

}
