//Kolore nagusiak
$primary:  #002F6C ;
$secondary: #D0021B;
$tertiary: #4A90E2;

//Tituluaren estiloa
h3 {
  font-family: Marcellus;
  font-size: 50px;
  font-weight: bolder;
  color: $secondary;
}

//ATAL PRINTZIPALAREN DISEINUA
.kontaktua {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

//GALDETEGIAREN diseinua
.galdetegia {
  display: grid;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 80%;
  padding:20px;
  margin: 20px;
}

//Bidali botoiaren esiloa
.bidaliBot {
  text-align: center;
}

#bidaliBot {
  background-color: $secondary !important;
  color: white;
  font-size: 30px;
  border-radius: 8px;
  width: 200px;
  min-width: 100px;
  height: 70px;
  opacity: 1;
  filter: none;
  box-shadow: none;
  margin: 20px;
}

//Etiketaren estiloa
.form-label{
  font-size: 25px;
}

//Sarrera eta testu-arearen diseinua
input, textarea{
  border: solid 2px $tertiary;
  height: 50px;
  &:hover{
    box-shadow: 0 0 13px $tertiary ;
    border-color: $primary;
  }
  &:focus{
    background-color: #fff;
    border-color: $primary;
    outline: none;
    box-shadow: 0 0 13px $tertiary ;
    scale: 1.1;
  }
}

//Parametroen arteko tartea
.parametros{
  padding: 10px;
}

//ARGAZKIAREN diseinua
.argazkiaKontaktua{
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#argazkia {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-fluid {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

//PANTAILA TXIKIENTZAKO ESTILO ALDAKETAK
@media (max-width: 800px) {
  .argazkiaKontaktua {
    display: none;
  }

  .kontaktua {
    justify-content: center;
    grid-template-columns: 100%;
  }

  .galdetegia {
    margin-right: 0;
    grid-column-start: 1;
  grid-column-end: 2;
  }

}
