<footer class="footer text-center py-4">
  <div class="container">
    <a href="https://www.instagram.com" target="_blank" class="text-white mx-3">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="https://www.twitter.com" target="_blank" class="text-white mx-3">
      <i class="bi bi-twitter"></i>
    </a>
    <a href="https://www.youtube.com" target="_blank" class="text-white mx-3">
      <i class="bi bi-youtube"></i>
    </a>
    <p class="text-white mt-3">
      Irudi guztiek CC BY-NC 4.0 eta CC BY 2.0 lizentziak dituzte.
    </p>
  </div>
</footer>
