<section *ngIf="opcion == 'update'">
  <form *ngIf="erreskatatua">
    <div style= "display:none">
      <img [src]="erreskatatua.argazkia == null ? 'assets/img/desconocido.jpg' : erreskatatua.argazkia" alt="">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label"> ID:</label>
      <input type="text" id="disabledTextInput" class="form-control" [(ngModel)]="erreskatatua.id" name="id">
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label"> ID Erreskatea:</label>
      <input type="text" id="disabledTextInput" class="form-control" [(ngModel)]="erreskatatua.erreskate_id" name="erreskate_id">
    </div>

    <div class="mb-3">
      <label for="izenOsoa" class="form-label"> Izen Osoa:</label>
      <input type="text" id="izenOsoa" class="form-control" [(ngModel)]="erreskatatua.izen_osoa" name="izen_osoa">
    </div>

    <div class="mb-3">
      <label for="adina" class="form-label"> Adina:</label>
      <input type="text" id="adina" class="form-control" [(ngModel)]="erreskatatua.adina" name="adina">
    </div>

    <div class="mb-3">
      <label for="sexua" class="form-label">Sexua:</label>
      <select id="sexua" class="form-select" [(ngModel)]="erreskatatua.sexua" name="sexua">
        <option value="" disabled selected>Aukeratu bat</option>
        <option value="E">Emakumea</option>
        <option value="G">Gizona</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="jatorria" class="form-label"> Jatorria:</label>
      <input type="text" id="jatorria" class="form-control" [(ngModel)]="erreskatatua.jatorria" name="jatorria">
    </div>

    <div class="mb-3">
      <label for="balorazioMedikoa" class="form-label">Balorazio Medikoa:</label>
      <select id="balorazioMedikoa" class="form-select" [(ngModel)]= "erreskatatua.balorazio_medikoa" name="balorazio_medikoa">
        <option value="" disabled selected>Aukeratu bat</option>
        <option value= "Osasuntsu">Osasuntsu</option>
        <option value="Deshidratatuta">Deshidratatuta</option>
        <option value="Desnutrituta">Desnutrituta</option>
      </select>
    </div>

    <button (click)="update()">ALDATU</button>
  </form>
</section>

<section *ngIf="opcion == 'create'">
  <form *ngIf="erreskatatua">
    <div style= "display:none">
      <img [src]="erreskatatua.argazkia == null ? 'assets/img/desconocido.jpg' : erreskatatua.argazkia" alt="">
    </div>
    <div class="mb-3" style="display: none;">
      <label for="disabledTextInput" class="form-label"> ID:</label>
      <input type="text" id="disabledTextInput" class="form-control" name="id">
    </div>

    <div class="mb-3" style="display: none;">
      <label for="disabledTextInput" class="form-label"> ID Erreskatea:</label>
      <input type="text" id="disabledTextInput" class="form-control" [(ngModel)]="erreskatatua.erreskate_id" name="erreskate_id">
    </div>

    <div class="mb-3">
      <label for="izenOsoa" class="form-label"> Izen Osoa:</label>
      <input type="text" id="izenOsoa" class="form-control" placeholder="Idatzi hemen izen osoa" name="izen_osoa">
    </div>

    <div class="mb-3">
      <label for="adina" class="form-label"> Adina:</label>
      <input type="text" id="adina" class="form-control" placeholder="Idatzi hemen adina" name="adina">
    </div>

    <div class="mb-3">
      <label for="sexua" class="form-label">Sexua:</label>
      <select id="sexua" class="form-select" placeholder="Idatzi hemen sexua" name="sexua">
        <option value="" disabled selected>Aukeratu bat</option>
        <option value="E">Emakumea</option>
        <option value="G">Gizona</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="jatorria" class="form-label"> Jatorria:</label>
      <input type="text" id="jatorria" class="form-control"placeholder="Idatzi hemen jatorria" name="jatorria">
    </div>

    <div class="mb-3">
      <label for="balorazioMedikoa" class="form-label">Balorazio Medikoa:</label>
      <select id="balorazioMedikoa" class="form-select" placeholder="Idatzi hemen balorazio medikoa" name="balorazio_medikoa">
        <option value="" disabled selected>Aukeratu bat</option>
        <option value= "Osasuntsu">Osasuntsu</option>
        <option value="Deshidratatuta">Deshidratatuta</option>
        <option value="Desnutrituta">Desnutrituta</option>
      </select>
    </div>

    <button (click)="altaErreskatatua()">ERREGISTRATU</button>
  </form>
</section>
