<section>
  <h1>GURE GALERIA</h1>
  <article class="videoaC">
   <video class="videoa" autoplay>
    <source src="../../../assets/video/bannerVideo.mp4">
   </video>
  </article>

  <div class="accordian">
    <ul>
      <li>
        <a href="#">
          <img src="../../../assets/img/carrousel06.jpg"/>
        </a>
      </li>

      <li>
        <a href="#">
          <img src="../../../assets/img/fondoGeneral.jpg"/>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../../assets/img/carrousel03.jpg"/>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../../assets/img/carrousel04.jpg"/>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../../assets/img/carrousel05.jpg"/>
        </a>
      </li>
    </ul>
  </div>
</section>
