
<nav class="navbar bg-navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="logo">
      <img src="../../../assets/img/logo.png" alt="">
    </div>
    <a class="navbar-brand" href="#">Itsasoko Zaindariak</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/hasiera" routerLinkActive="active">Hasiera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/erreskateak" routerLinkActive="active">Erreskateak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/donatu" routerLinkActive="active">Donatu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/guriBuruz" routerLinkActive="active">Guri Buruz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/kontaktua" routerLinkActive="active">Kontaktua</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
