@import "bootstrap";

$primary: #D0021B;
$secondary: #002F6C;
$tertiary: #4A90E2;

.logo{
  height: 50px;
  margin-right: 20px;
  border-radius: 15px;
  overflow: hidden;
}
img{
  height: 100%;
  width: 100%;
}

.bg-navbar{
  background-color: $secondary;
  color:white;
  a{
    color: white;
  }
  .nav-link.active{
    color: white;
    font-weight:bold;
  }
}
.navbar-toggler{
  border-color: white;
  background-color: #D0021B;
}

